<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>

<h1>トップページへようこそ！！</h1>
<a href="/about">to about</a>
<div class="p-home-bg"></div>
<div class="p-home">
  <div class="p-home__js">
    <div class="p-home__box">
      <div>
        <button id="js1">クリック</button>
        <p id="text">aaa</p>
      </div>
    </div>
    <div class="p-home__box">
      <div>
        <input type="text" id="freeInput" />
        <button id="js2">表示</button>
        <p id="showInput">未入力</p>
      </div>
    </div>
    <div class="p-home__box">
      <div>
        <input type="text" id="listInput" />
        <button id="js3">追加</button>
        <ul id="js-list"></ul>
      </div>
    </div>
  </div>
  <div class="p-home__js">
    <div class="p-home__box">
      <div id="fizzBuzz">
        <button id="js4">start</button>
      </div>
    </div>
  </div>
  <div class="p-home-grid">
    <% for(index = 0; index < 5; index++ ) { %>
    <div class="p-home__item"></div>
    <% } %>
  </div>
</div>

<% include src/ejs/template/_footer %>
