.p-home-bg {
  display: block;
  height: 300px;
  background-image: url('#{$bgPath}sea.jpg');
  background-size: cover;
}

.p-home {
  width: 100%;
  &__js {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
  }

  &__item {
    width: 100px;
    height: 500px;
    background-color: black;
  }
}

#freeInput,
#listInput {
  border-bottom: 1px solid black;
}

.red {
  color: red;
}

.js-fizzBuzz {
  background-color: black;
  color: white;
}
