.p-home-bg {
  display: block;
  height: 300px;
  background-image: url('#{$bgPath}sea.jpg');
  background-size: cover;
}

.p-home {
  width: 100%;
  &__js {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
  }

  &__slide {
    margin: 0 auto;
    width: 720px;
    // background-color: black;
    border: 1px solid black;
  }

  &__toolbar {
    overflow: hidden;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  &__item {
    width: 100px;
    height: 500px;
    background-color: black;
  }
}

#freeInput,
#listInput {
  border-bottom: 1px solid black;
}

.red {
  color: red;
}

.js-fizzBuzz {
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
}

#prev {
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
  background: url('#{$bgPath}arr.svg') no-repeat;
  transform: rotate(-180deg);
}
#next {
  margin-left: 0.5rem;
  width: 40px;
  height: 40px;
  background: url('#{$bgPath}arr.svg') no-repeat;
}
